.KanbanCard {
  border-radius: .25rem;
  min-height: 150px;
  width: 180px;
  padding: 5px;
  cursor: grab;
  background: rgba(241, 241, 7, 0.8);
  transform: rotate(5deg);
  font-size: 13px;
  color: #000;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .5);
}
